{% extends 'base.html' %}

{% block title %}
  Posts list
{% endblock %}

{% block body %}
  <h1>Posts:</h1>
  {% if object_list %}
    <ul>
      {% for post in object_list %}
        <li>
          <a href="{% url 'posts:detail' pk=post.pk %}">
              {{ post.title }}
          </a>
          <br>
          <em>{{ post.text }}</em>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>No posts yet!</h2>
  {% endif %}
<p></p>
  {{some_var}}
<p></p>
  {% include 'common/footer-common.html' %}
{% endblock %}
